# ignore cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# ignore everything in out directory
# except for plotting python scripts
out/*
!/out/*.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore output files
*.out

# ignore images
*.png

# vscode
.vscode/
